<div class="container">
  <div class="top">
    <h1>todo list.</h1>
  </div>
  <div class="middle">
    <ul>
      <% @list.tasks.each do |task| %>
        <li><%= task.name %><a href="/list/<%= @list.id %>/<%= task.id %>/delete"><span class="space">Delete</span></a></ul>
      <% end %>
    </ul>
    <br>
    <% if @list.tasks.length > 1 %>
    <br>
    <% end %>
    <% if @list.tasks.count == 0 %>
    <a href="/list/<%= @list.id %>/new_task">Create Your First Task</a>
    <% else %>
    <a href="/list/<%= @list.id %>/new_task">Add A Task</a>
    <% end %>
  </div>
  <a href="/"><div class="bottom">
    home
  </div>
</div>
